<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="log.base" value="${APP_HOME}/logs"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%level] %date{yyyy-MM-dd HH:mm:ss.SSS,CTT} %logger{96}:[%line] - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

<!--    &lt;!&ndash; worker server logback config start &ndash;&gt;-->
<!--    <conversionRule conversionWord="messsage"-->
<!--                    converterClass="org.apache.dolphinscheduler.server.log.SensitiveDataConverter"/>-->

    <appender name="JOBLOGFILE" class="ch.qos.logback.classic.sift.SiftingAppender">
        <filter class="com.dpline.common.log.JobLogFilter">
            <level>INFO</level>
        </filter>
        <discriminator class="com.dpline.common.log.JobLogDiscriminator">
            <key>taskAppId</key>
            <logBase>${log.base}</logBase>
        </discriminator>
        <sift>
            <appender name="FILE-${taskAppId}" class="ch.qos.logback.core.FileAppender">
                <append>true</append>
                <file>${taskAppId}</file>
                <encoder>
                    <pattern>[%level] %date{yyyy-MM-dd HH:mm:ss.SSS,CTT} [api] [%thread] %logger{96}:[%line] jobId: [%X{jobId}] - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="APILOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/dpline-api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.base}/dpline-api.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>
                [%level] %date{yyyy-MM-dd HH:mm:ss.SSS,CTT} [%thread] %logger{96}:[%line] - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!-- worker server logback config end -->

    <root level="INFO">
        <appender-ref ref="JOBLOGFILE"/>
        <appender-ref ref="APILOGFILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
