<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.handsome.dao.mapper.K8sNameSpaceMapper">
    <sql id="baseSql">
        id,name_space,kube_path,selector_lables,service_account,description,release_state,create_time,update_time
    </sql>
    <select id="queryAllK8sNameSpace" resultType="com.handsome.dao.entity.K8sNameSpace">
        select
        <include refid="baseSql">
            <property name="alias" value="r"/>
        </include>
        from dpline_k8s_namespace r
    </select>
    <select id="queryOnlineK8sNameSpace" resultType="com.handsome.dao.entity.K8sNameSpace">
        select
        <include refid="baseSql">
            <property name="alias" value="r"/>
        </include>
        from dpline_k8s_namespace r where release_state = 1
    </select>

    <select id="existK8sNameSpace" resultType="boolean">
        select
        1
        from dpline_k8s_namespace r
        where 1=1 and
        <if test="k8sName != null and kubeConfPath != null">
            name_space = #{k8sName} and kube_path = #{kubeConfPath}
        </if>
        <if test="k8sName != null and kubeConfPath == null">
            name_space = #{k8sName}
        </if>
        <if test="k8sName == null and kubeConfPath != null">
            kube_path = #{kubeConfPath}
        </if>
    </select>

    <select id="queryK8sNameSpacesIdListByUserId" resultType="com.handsome.dao.entity.K8sNameSpace">
        select
        <include refid="baseSql">
            <property name="alias" value="ins"/>
        </include>
        from dpline_relation_k8s_namespace_user rel
        join dpline_k8s_namespace ins on rel.k8s_namespace_id = ins.id
        where 1=1
        <if test="releaseState != null">
            and ins.release_state=#{releaseState}
        </if>
        <if test="userId != 0">
            and user_id=#{userId}
        </if>
    </select>
</mapper>
