<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.handsome.dao.mapper.ResourceUserMapper">

    <select id="queryResourcesIdListByUserIdAndPerm" resultType="java.lang.Integer">
        select
        resources_id
        from dpline_relation_resources_user rel
        where 1 = 1
        <if test="userId != 0 and perm != 0">
            and rel.user_id=#{userId} and rel.perm=#{perm}
        </if>
        <if test="userId != 0 and perm == 0">
            and rel.user_id=#{userId}
        </if>
    </select>

    <delete id="deleteResourceUser">
        delete
        from dpline_relation_resources_user
        where 1 = 1
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
        <if test="resourceId != 0">
            and resources_id = #{resourceId}
        </if>
    </delete>

    <delete id="deleteResourceUserArray" parameterType="java.lang.Integer">
        delete
        from dpline_relation_resources_user
        where 1 = 1
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
        and resources_id in
        <foreach collection="resIds" item="i" open="(" close=")" separator=",">
            #{i}
        </foreach>
    </delete>
</mapper>