<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.handsome.dao.mapper.ResourceMapper">
    <sql id="baseSqlV2">
        ${alias}.id, ${alias}.alias, ${alias}.file_name, ${alias}.description, ${alias}.user_id, ${alias}.type, ${alias}.size, ${alias}.create_time, ${alias}.update_time,
        ${alias}.pid, ${alias}.full_name, ${alias}.is_directory
    </sql>
    <select id="existResource" resultType="java.lang.Boolean">
        select 1
        from dpline_resources
        where full_name = #{fullName}
          and type = #{type}
          and user_id = #{userId} limit 1
    </select>

    <select id="listChildren" resultType="integer">
        select id
        from dpline_resources
        where pid = #{direcotyId}
    </select>

    <select id="listResourceByIds" resultType="com.handsome.dao.entity.Resource">
        select
        <include refid="baseSqlV2">
            <property name="alias" value="r"/>
        </include>
        from dpline_resources r
        where r.id in
        <foreach collection="resIds" item="i" open="(" close=")" separator=",">
            #{i}
        </foreach>
    </select>

    <update id="batchUpdateResource" parameterType="java.util.List">
        <foreach collection="resourceList" item="resource" index="index" open="" close="" separator=";">
            update dpline_resources
            <set>
                full_name=#{resource.fullName},
                update_time=#{resource.updateTime}
            </set>
            <where>
                id=#{resource.id}
            </where>
        </foreach>
    </update>

    <select id="queryResource" resultType="com.handsome.dao.entity.Resource">
        select
        <include refid="baseSqlV2">
            <property name="alias" value="r"/>
        </include>
        from dpline_resources r
        where r.type = #{type}
        and r.full_name = #{fullName}
    </select>
    <select id="queryResourceListAuthored" resultType="com.handsome.dao.entity.Resource">
        select
        <include refid="baseSqlV2">
            <property name="alias" value="r"/>
        </include>
        from dpline_resources r
        where 1 = 1
        <if test="type != -1">
            and r.type=#{type}
        </if>
        <if test="userId != 0">
            and r.user_id=#{userId}
        </if>
    </select>
    <select id="queryResourcePaging" resultType="com.handsome.dao.entity.Resource">
        select
        <include refid="baseSqlV2">
            <property name="alias" value="d"/>
        </include>
        from dpline_resources d
        where d.type=#{type} and d.pid=#{id}
        <if test="userId != 0">
            and (
            <if test="resIds != null and resIds.size() > 0">
                d.id in
                <foreach collection="resIds" item="i" open="(" close=") or" separator=",">
                    #{i}
                </foreach>
            </if>
            d.user_id=#{userId} )
        </if>
        <if test="searchVal != null and searchVal != ''">
            and d.alias like concat('%', #{searchVal}, '%')
        </if>
        order by d.update_time desc
    </select>

    <select id="queryResourceListById" resultType="com.handsome.dao.entity.Resource">
        select
        <include refid="baseSqlV2">
            <property name="alias" value="d"/>
        </include>
        from dpline_resources d
        where 1=1
        <if test="resIds != null and resIds.size() > 0">
          and d.id in
            <foreach collection="resIds" item="i" open="(" close=") or" separator=",">
            #{i}
        </foreach>
        </if>
    </select>
    <delete id="deleteIds" parameterType="java.lang.Integer">
        delete from dpline_resources where id in
        <foreach collection="resIds" item="i" open="(" close=")" separator=",">
            #{i}
        </foreach>
    </delete>
    <select id="queryResourceExceptUserId" resultType="com.handsome.dao.entity.Resource">
        select
        <include refid="baseSqlV2">
            <property name="alias" value="r"/>
        </include>
        from dpline_resources r
        where r.user_id <![CDATA[ <> ]]> #{userId}
    </select>

</mapper>
